/*TODO:
    Converter PX para VH e VW (view height e view width) OU para rem...
*/
*{
    font-family: sans-serif;
}

body {
    background: rgb(2,0,36);
    background: linear-gradient(180deg, rgba(2,0,36,1) 6%, rgba(37,100,95,1) 100%, rgba(0,212,255,1) 100%);    margin: 0;
}

section{
    display: grid;
    place-items: center;
    height: 100vh;
}

#corpo-aplicacao{
    display: grid;
    place-items: center;
    background-color: #7cd7cf;
    height: 540px;
    width: 400px;
    border: 4px solid #e1ecd6;
    border-radius: 20px;
}

#titulo{
    border-bottom: 4px solid #fffedf;
    color: rgb(51, 51, 51);
    font-size: 27px;
    font-weight: bold;
    padding: 10px 0px 20px 0px;
    text-align: center;
    width: 100%;
}

.entrada{
    background-color:#e1ecd6;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 68%;
    border-radius: 20px;
    border: 4px solid #e1ecd6;
}

label{
    font-size: 25px;
    font-weight: bold;
    text-shadow: rgb(90, 90, 90) 2px 0px 0px, rgb(90, 90, 90) 1.75517px 0.958851px 0px, rgb(90, 90, 90) 1.0806px 1.68294px 0px, rgb(90, 90, 90) 0.141474px 1.99499px 0px, rgb(90, 90, 90) -0.832294px 1.81859px 0px, rgb(90, 90, 90) -1.60229px 1.19694px 0px, rgb(90, 90, 90) -1.97998px 0.28224px 0px, rgb(90, 90, 90) -1.87291px -0.701566px 0px, rgb(90, 90, 90) -1.30729px -1.5136px 0px, rgb(90, 90, 90) -0.421592px -1.95506px 0px, rgb(90, 90, 90) 0.567324px -1.91785px 0px, rgb(90, 90, 90) 1.41734px -1.41108px 0px, rgb(90, 90, 90) 1.92034px -0.558831px 0px;

    display: grid;
    place-items: center;
    color: rgb(255, 255, 255);
    height: 40px;
    width: 80px;
}

input{
    text-align: center;
    margin: 20px;
    width: 100px;
    height: 30px;
    border: none;
    border-radius: 20px;
}

input::placeholder{
    color: rgb(197, 197, 197);
}

input::-webkit-inner-spin-button{
    -webkit-appearance: none;
}

#botao-calcular{
    border: none;
    border-radius: 20px;
    background-color: #e1ecd6;
    border: 2px solid #e1ecd6;
    font-size: 20px;
    font-weight: bold;
    height: 40px;
    width: 120px;
}

#botao-calcular:hover{
    background-color: #ffc06d;
}

#botao-calcular:active{
    color: white;
    background-color: rgb(0, 0, 0);
}


.saida{
    display: grid;
    place-items: center;
    padding: 0px 10px 0px 10px;
    height: 80px;
    width: 350px;
    background-color: #ffffff;
    text-align: center;
    border: 2px solid #e1ecd6;
    border-radius: 20px;
    margin-bottom: 10px;
}