/*TODO:
    Converter PX para VH e VW (view height e view width) OU para rem...
*/
*{
    font-family: sans-serif;
}

body {
    background: rgb(2,0,36);
    background: linear-gradient(180deg, rgba(2,0,36,1) 6%, rgba(37,100,95,1) 100%, rgba(0,212,255,1) 100%);    margin: 0;
    height: 100vh;
    width: 100vw;
}

#corpo-aplicacao{
    display: grid;
    grid-template-columns: 35vw 30vw 35vw;
    grid-template-rows: 10vh 80vh 10vh;
    grid-template-areas: 
    ". . ." 
    "tabela calculadora ." 
    ". . .";
    place-items: center;
}

#tabela-IMC{
    display: none;
    align-items: center;
    justify-content: center;
    justify-self: end;
    grid-area: tabela;
    text-align: center;
    background-color: rgba(105, 105, 105, .3);
    border: 4px solid #000000;
    border-radius: 20px;
    height: 140px;
    width: 400px;
    grid-column: 1/2;
}

#pontuacoes{
    background-color: rgba(253, 253, 253, 0);
    display: flex;
    place-content: center;
    border-radius: 20px;
    height: 120px;
    width: 360px;
    /*formatação texto */
    color: rgb(255, 255, 255);
    font-size: 17px;
    font-weight: bold;
    text-shadow: rgb(90, 90, 90) 2px 0px 0px, rgb(90, 90, 90) 1.75517px 0.958851px 0px, rgb(90, 90, 90) 1.0806px 1.68294px 0px, rgb(90, 90, 90) 0.141474px 1.99499px 0px, rgb(90, 90, 90) -0.832294px 1.81859px 0px, rgb(90, 90, 90) -1.60229px 1.19694px 0px, rgb(90, 90, 90) -1.97998px 0.28224px 0px, rgb(90, 90, 90) -1.87291px -0.701566px 0px, rgb(90, 90, 90) -1.30729px -1.5136px 0px, rgb(90, 90, 90) -0.421592px -1.95506px 0px, rgb(90, 90, 90) 0.567324px -1.91785px 0px, rgb(90, 90, 90) 1.41734px -1.41108px 0px, rgb(90, 90, 90) 1.92034px -0.558831px 0px;
}

.lista{
    list-style: none;
    margin: 10px;
    padding: 0;
}

#calculadora-IMC{
    grid-area: calculadora;
    display: grid;
    place-items: center;
    min-height: 550px;
    min-width: 400px;
    background-color: rgba(105, 105, 105, 0.3);
    border-radius: 1.5em;
    border: 4px solid rgb(255, 255, 255, 0.4);
}

#titulo{
    display: flex;
    color: rgb(255, 255, 255);
    font-size: 27px;
    font-weight: bold;
    place-content: center;
    place-items: center;
    width: 100%;
    height: 100%;
    border-bottom: 4px solid rgba(255, 255, 255, .4);
    margin-bottom: 10px;
}

.entrada{
    background-color: rgba(0, 0, 0, .3);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 7vh;
    min-width: 300px;
    border-radius: 20px;
    border: 4px solid rgb(255, 255, 255,0.6);
}

label{
    font-size: 25px;
    font-weight: bold;
    text-shadow: rgb(90, 90, 90) 2px 0px 0px, rgb(90, 90, 90) 1.75517px 0.958851px 0px, rgb(90, 90, 90) 1.0806px 1.68294px 0px, rgb(90, 90, 90) 0.141474px 1.99499px 0px, rgb(90, 90, 90) -0.832294px 1.81859px 0px, rgb(90, 90, 90) -1.60229px 1.19694px 0px, rgb(90, 90, 90) -1.97998px 0.28224px 0px, rgb(90, 90, 90) -1.87291px -0.701566px 0px, rgb(90, 90, 90) -1.30729px -1.5136px 0px, rgb(90, 90, 90) -0.421592px -1.95506px 0px, rgb(90, 90, 90) 0.567324px -1.91785px 0px, rgb(90, 90, 90) 1.41734px -1.41108px 0px, rgb(90, 90, 90) 1.92034px -0.558831px 0px;
    display: grid;
    place-items: center;
    color: rgb(255, 255, 255);
    height: 40px;
    width: 50%;
}

input{
    text-align: center;
    margin-right: 2vw;
    width: 50%;
    height: 30px;
    border: none;
    border-radius: 20px;
}

input::placeholder{
    color: rgb(197, 197, 197);
}

input::-webkit-inner-spin-button{
    -webkit-appearance: none;
}

#botoes{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 1vw;
}

#botao-tabela-IMC{
    border: none;
    border-radius: 20px;
    background-color: #ffffff;
    border: 2px solid #e1ecd6;
    font-size: 20px;
    font-weight: bold;
    height: 40px;
    margin: 20px;
    width: 55px;
}

.imagem-balanca {
    justify-content: center;
    align-items: center;
    height: 35px;
    width: 35px;
}

#botao-calcular{
    border: none;
    border-radius: 20px;
    background-color: #ffffff;
    border: 2px solid #e1ecd6;
    font-size: 20px;
    font-weight: bold;
    height: 40px;
    width: 120px;
}

#botao-calcular:hover, #botao-tabela-IMC:hover{
    background-color: #ffc06d;
}

#botao-calcular:active, #botao-tabela-IMC:active{
    color: white;
    background-color: rgb(0, 0, 0);
}

.saida{
    display: grid;
    place-items: center;
    padding: 0px 10px 0px 10px;
    height: 80px;
    width: 350px;
    background-color: #ffffff;
    text-align: center;
    border: 2px solid #e1ecd6;
    border-radius: 20px;
    margin-bottom: 10px;
}

    @media (max-width: 1000px){
        #corpo-aplicacao{
            grid-template-columns:100vw;
            grid-template-rows: 5vh 70vh 10vh;
            grid-template-areas: 
            "." 
            "calculadora" 
            "tabela";
            place-content: center;
        }

        #tabela-IMC{
            justify-self: center;
            width: 60vw;
            height: 25vw;
        }

        #pontuacoes{
            width: 50vw;
            height: 20vw;
            
        }

        .lista{
            font-size: 25px;
            align-self: center;
        }

        #calculadora-IMC{
            min-height: 50vh;
            min-width: 70vw;
            grid-template-rows: 5vh 10vh 10vh 10vh 5vh 10vh;
        }

        #titulo{
            font-size: 5vw;
        }
        
        .entrada{
            min-width: 65vw;
        }
        
        label, input{
            min-width: 1vw;
            min-height: 4vh;
            font-size: 40px;
        }
        
        #botoes{
            min-width: 60vw;
            min-height: 10vh;
        }
        
        #botao-tabela-IMC{
            min-height: 80px;
            min-width: 80px;
            padding: 0;
        }
        
        .imagem-balanca{
            min-height: 80px;
            min-width: 80px;
        }
        
        #botao-calcular{
            min-height: 80px;
            min-width: 250px;
            font-size: 4vw;
        }
        
        .saida{
            margin-top: 20px;
            min-height: 8vh;
            min-width: 500px;
            font-size: 2.7vw;
        } 
    }